#plan{
    color: blue;
    font-size: medium;
    align-items: flex-start;

}
#img1{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img2{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(171, 124, 124);
    padding: 1px;
    box-shadow: inset;
}
#img3{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img4{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img5{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img6{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img7{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img8{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img9{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}#img0{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img11{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}
#img12{
    border-radius: 8px;
    background-color: aqua;
    border: 2px solid rgb(182, 171, 171);
    padding: 1px;
    box-shadow: inset;
}